<form action="/university/update/<%= university.id %>" method="POST" >
  <h2>Edit University</h2>

  <input value="<%= university.name %>" type="text" name="name" ><br />
  <input value="<%= university.type %>" type="text" name="type" ><br />
  <input value="<%= university.rank %>" type="text" name="rank" />
  <input value="<%= university.estd_year %>" type="text" name="Estd. Year" />
  <input type="submit" value="Update university" />
</form>