<h3>Universities</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Rank</th>
    <th>Estd</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(universities, function(university) { %>
  <tr data-id="<%= university.id %>" data-model="university" >
    <td><%= university.id %></td>
    <td><%= university.name %></td>
    <td><%= university.type %></td>
    <td><%= university.rank %></td>
    <td><%= university.estd_year %></td>
    <td><a href="/university/show/<%= university.id %>">Show</a></td>
    <td><a href="/university/edit/<%= university.id %>">Edit</a></td>
    <td><a href="/university/destroy/<%= university.id %>">Delete</a></td>
  </tr>
  <% }) %>
</table>
