<form action="/university/create" method="POST" >
  <h2>Create a University</h2>

  <input type="text" placeholder="Name" name="name" ><br />
  <input type="text" placeholder="Type" name="type" >
  <input type="text" placeholder="Rank" name="rank" >
  <input type="text" placeholder="Year" name="estd_year" >
  <input type="submit" value="Create University" />
</form>
