<h1><%= university.name %></h1>
<hr>
<h2>Type: <%= university.type %></h2>
<h4>Rank: <%= university.rank %></h4>
<h4>Year of Establishment: <%= university.estd_year %></h4>

<h3>Courses</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Fees</th>
    <th>Duration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(university.courses, function(course) { %>
  <tr data-id="<%= course.id %>" data-model="course" >
    <td><%= course.name %></td>
    <td><%= course.fees %></td>
    <td><%= course.fees %></td>
    <td><a href="/course/<%= course.id %>">Show</a></td>
    <!-- <td><a href="/course/edit/<%= course.id %>">Edit</a></td> -->
    <td><a href="/course/destroy/<%= course.id %>">Delete</a></td>
  </tr>
  <% }); %>
</table>

<form action="/course/new" method="POST" >
 <input type="hidden" value="<%= university.id %>" name="owner">
 <input type="submit" value="Add Course" />
</form>