<form action="/course/create" method="POST" >
  <h2>Create a new Course for <%= university.name %></h2>

  <input type="hidden" name="owner" value="<%- university.id %>" />

  <input type="text" placeholder="Name" name="name" ><br />
  <input type="text" placeholder="Fees" name="fees" ><br />
  <input type="text" placeholder="Duration" name="duration" ><br />
  <input type="submit" value="Add Course" />
</form>